Source: cw1-6005-jz4e11
Section: php
Priority: optional
Maintainer: Jiaqi Zhou <jz4e11@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~), php5-cli, debconf
Standards-Version: 3.8.4
Homepage: http://github.com/JackyQ/cw1-6005-jz4e11
Vcs-Git: git://github.com/JackyQ/cw1-6005-jz4e11.git


Package: cw1-6005-jz4e11
Architecture: any
Depends: ${misc:Depends}
Description: a command line for RSS reader
 jz4e11's coursework1 for info6005.
