#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

conf = $(CURDIR)/etc/cw1-6005-jz4e11/feeds.conf
getnews = $(CURDIR)/usr/bin/get_news
index = $(CURDIR)/usr/share/cw1-6005-jz4e11/index.php
rss = $(CURDIR)/usr/share/cw1-6005-jz4e11/rss_php.php

phpdest = $(CURDIR)/debian/cw1-6005-jz4e11/usr/share/cw1-6005-jz4e11
getnewsdest = $(CURDIR)/debian/cw1-6005-jz4e11/usr/bin
confdest = $(CURDIR)/debian/cw1-6005-jz4e11/etc/cw1-6005-jz4e11

build: build-stamp

build-stamp: 
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f build

install: build clean $(conf) $(index) $(rss) $(getnews)
	dh_testdir
	dh_testroot
	dh_installdirs
	
	mkdir -m 755 -p $(confdest)
	mkdir -m 755 -p $(phpdest)
	mkdir -m 755 -p $(getnewsdest)

	install -m 644 $(index) $(phpdest)
	install -m 644 $(rss) $(phpdest)
	install -m 644 $(getnews) $(getnewsdest)
	install -m 644 $(conf) $(confdest)

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installdebconf
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
